
{{#if products.length}}
 <h2 align='center'>Time Products</h2>
  <table class='table' id='table' cellPadding='10' border='1' align='center'>
    <thead>
      <tr>
        <th>#id</th>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="productsTable">
      {{#each products}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>${{price}}</td>
          <td>{{stock}}</td>
          <td>{{category}}</td>
          {{!-- <td><button type='submit' id='delete'>Borrar</button></td> --}}
          <td><button type="submit" class="classDeleteProduct" data-id="{{id}}">Borrar</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h2>Products didn't register</h2>
{{/if}}

<br />
<br />

<h2 align='center'>Agregar producto</h2>
  <form id="createProduct" align='center'>
    
	<input type="text" id="productTitle" name="title" placeholder="title" />
	<input type="text" id="productDescription" name="description" placeholder="description" />
	<input type="number" id="productPrice" name="price" placeholder="price" />
	{{!-- <input type="number" id="productCode" name="code" placeholder="code" /> --}}
	<input type="number" id="productStock" name="stock" placeholder="stock" />
	<input type="text" id="productCategory" name="category" placeholder="category" />

	<button type='submit' id='addProduct'>Add product</button>
</form>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>


